* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
	font-size: 8pt;
}

table {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.no-border {
	border: none;
}

td {
	vertical-align: top;
	border: thin solid black;
	padding: 5px;
}

th {
	border: thin solid black;
	padding: 5px;
}

.right {
	/* text-align: right; */
	width: 4cm;
}

.num-boleto {
	border-left: thin solid black;
	border-right: thin solid black;
	padding: 8px;
}

.logo {
	width: 130px;
	max-height: 35px;
	padding: 8px;
}

.container-logo {
	height: 21mm;
}

.label {
	color: #484848;
	font-size: 8pt;
}

.value {
	font-weight: bold;
	text-align: right;
}

.header {
	font-size: 11pt;
}

.header th {
	border-bottom: none;
}

.linha-digitavel {
	font-size: 11pt;
	font-weight: bold;
	padding: 3.2mm 0;
	word-spacing: 4px;
}

.barcode-container {
	/* border: none; */
	padding: 14.6px;
}

.barcode {
	margin-left: -3.7mm;
}

.carneh {
	width: 19.5cm;
	height: 10cm;
	clear: both;
}

.border {
	border-bottom: thin solid black;
}

.recibo {
	width: 4cm;
	height: 8cm;
	float: left;
	border: none;
	padding: 0;
}

.boleto {
	float: left;
	width: 14cm;
	border: none;
	padding: 0;
}

.recibo td,
.recibo th,
.boleto td
.boleto th {
	/* border-left: none; */
	border-right: none;
}

.boleto td, .boleto th {
	border-left: none;
}

.mensagem {
	height: 30.35mm;
}

.container-emissao {
	width: 3cm;
}

.crop-line {
	border-bottom: thin dashed black;
	width: 100%;
	height: 1px;
	margin: 5mm 0;
}